# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm

# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839



# User-specific stuff:

.idea/workspace.xml

.idea/tasks.xml



# Sensitive or high-churn files:

.idea/dataSources/

.idea/dataSources.ids

.idea/dataSources.xml

.idea/dataSources.local.xml

.idea/sqlDataSources.xml

.idea/dynamic.xml

.idea/uiDesigner.xml



# Gradle:

.idea/gradle.xml

.idea/libraries



# Mongo Explorer plugin:

.idea/mongoSettings.xml



## File-based project format:

*.iws



## Plugin-specific files:



# IntelliJ

/out/



# mpeltonen/sbt-idea plugin

.idea_modules/



# JIRA plugin

atlassian-ide-plugin.xml



# Crashlytics plugin (for Android Studio and IntelliJ)

com_crashlytics_export_strings.xml

crashlytics.properties

crashlytics-build.properties

fabric.properties
solr/configsets/sunspot/conf/_rest_managed.json
solr/configsets/sunspot/conf/admin-extra.html
solr/configsets/sunspot/conf/currency.xml
solr/configsets/sunspot/conf/elevate.xml
solr/configsets/sunspot/conf/lang/stopwords_en.txt
solr/configsets/sunspot/conf/mapping-ISOLatin1Accent.txt
solr/configsets/sunspot/conf/protwords.txt
solr/configsets/sunspot/conf/schema.xml
solr/configsets/sunspot/conf/scripts.conf
solr/configsets/sunspot/conf/solrconfig.xml
solr/configsets/sunspot/conf/spellings.txt
solr/configsets/sunspot/conf/synonyms.txt
solr/default/core.properties
solr/default/data/index/_0.fdt
solr/default/data/index/_0.fdx
solr/default/data/index/_0.fnm
solr/default/data/index/_0.nvd
solr/default/data/index/_0.nvm
solr/default/data/index/_0.si
solr/default/data/index/_0_3.liv
solr/default/data/index/_0_Lucene50_0.doc
solr/default/data/index/_0_Lucene50_0.pos
solr/default/data/index/_0_Lucene50_0.tim
solr/default/data/index/_0_Lucene50_0.tip
solr/default/data/index/_c.fdt
solr/default/data/index/_c.fdx
solr/default/data/index/_c.fnm
solr/default/data/index/_c.nvd
solr/default/data/index/_c.nvm
solr/default/data/index/_c.si
solr/default/data/index/_c_Lucene50_0.doc
solr/default/data/index/_c_Lucene50_0.pos
solr/default/data/index/_c_Lucene50_0.tim
solr/default/data/index/_c_Lucene50_0.tip
solr/default/data/index/_e.fdt
solr/default/data/index/_e.fdx
solr/default/data/index/_e.fnm
solr/default/data/index/_e.nvd
solr/default/data/index/_e.nvm
solr/default/data/index/_e.si
solr/default/data/index/_e_Lucene50_0.doc
solr/default/data/index/_e_Lucene50_0.pos
solr/default/data/index/_e_Lucene50_0.tim
solr/default/data/index/_e_Lucene50_0.tip
solr/default/data/index/_f.fdt
solr/default/data/index/_f.fdx
solr/default/data/index/_f.fnm
solr/default/data/index/_f.nvd
solr/default/data/index/_f.nvm
solr/default/data/index/_f.si
solr/default/data/index/_f_1.liv
solr/default/data/index/_f_Lucene50_0.doc
solr/default/data/index/_f_Lucene50_0.pos
solr/default/data/index/_f_Lucene50_0.tim
solr/default/data/index/_f_Lucene50_0.tip
solr/default/data/index/_g.fdt
solr/default/data/index/_g.fdx
solr/default/data/index/_g.fnm
solr/default/data/index/_g.nvd
solr/default/data/index/_g.nvm
solr/default/data/index/_g.si
solr/default/data/index/_g_1.liv
solr/default/data/index/_g_Lucene50_0.doc
solr/default/data/index/_g_Lucene50_0.pos
solr/default/data/index/_g_Lucene50_0.tim
solr/default/data/index/_g_Lucene50_0.tip
solr/default/data/index/_h.fdt
solr/default/data/index/_h.fdx
solr/default/data/index/_h.fnm
solr/default/data/index/_h.nvd
solr/default/data/index/_h.nvm
solr/default/data/index/_h.si
solr/default/data/index/_h_Lucene50_0.doc
solr/default/data/index/_h_Lucene50_0.pos
solr/default/data/index/_h_Lucene50_0.tim
solr/default/data/index/_h_Lucene50_0.tip
solr/default/data/index/_i.fdt
solr/default/data/index/_i.fdx
solr/default/data/index/_i.fnm
solr/default/data/index/_i.nvd
solr/default/data/index/_i.nvm
solr/default/data/index/_i.si
solr/default/data/index/_i_1.liv
solr/default/data/index/_i_Lucene50_0.doc
solr/default/data/index/_i_Lucene50_0.pos
solr/default/data/index/_i_Lucene50_0.tim
solr/default/data/index/_i_Lucene50_0.tip
solr/default/data/index/_p.fdt
solr/default/data/index/_p.fdx
solr/default/data/index/_p.fnm
solr/default/data/index/_p.nvd
solr/default/data/index/_p.nvm
solr/default/data/index/_p.si
solr/default/data/index/_p_Lucene50_0.doc
solr/default/data/index/_p_Lucene50_0.pos
solr/default/data/index/_p_Lucene50_0.tim
solr/default/data/index/_p_Lucene50_0.tip
solr/default/data/index/segments_v
solr/default/data/index/write.lock
solr/default/data/tlog/tlog.0000000000000000020
solr/default/data/tlog/tlog.0000000000000000021
solr/default/data/tlog/tlog.0000000000000000022
solr/default/data/tlog/tlog.0000000000000000023
solr/default/data/tlog/tlog.0000000000000000024
solr/default/data/tlog/tlog.0000000000000000025
solr/default/data/tlog/tlog.0000000000000000026
solr/default/data/tlog/tlog.0000000000000000027
solr/default/data/tlog/tlog.0000000000000000028
solr/default/data/tlog/tlog.0000000000000000029
solr/development/core.properties
solr/development/data/index/segments_1
solr/development/data/index/write.lock
solr/solr.xml
solr/test/core.properties
solr/test/data/index/segments_1
solr/test/data/index/write.lock
