<div class="row">
  <% obj.each do |recipe| %>
      <div class="col-xs-offset-3 col-xs-6">
        <div class="well">
          <%= link_to (image_tag recipe.image.url(:medium), class: 'image'), recipe %>
          <strong id = "recipe_title"><%= recipe.title %></strong>
        </div>
      </div>
  <% end %>
</div>