
  <% if !user_signed_in?%>
    <div class="well col-xs-offset-3 col-xs-6" id="title-signedout-well">
      <h1 align = "center" id="well-main-title" ><%=link_to "Online kuhača" , recipes_path %></h1>
      <div align="center"><%= link_to "Registrirajte se", new_user_registration_path, class: "btn btn-primary btn-lg" %></div>
    </div>
  <% else %>
    <div class="well col-xs-offset-3 col-xs-6" id="title-signedin-well">
      <h1 align = "center" id="well-main-title" ><%=link_to "Online kuhača" , recipes_path %></h1>
    </div>
  <% end %>



