@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

.navbar-edit {
  color: #8BC34A;
}

body {
  background-color: #f9f9f9 !important;
  font-family: 'Open Sans', sans-serif!important;
  font-size:11px;
}
.well{
  background-color:#CCFF90!important;
  border-radius:0!important;
}

.well-tag{
  background-color: white;
}

.well.login-box {
  /*width:400px; */
  margin:0 auto;
  margin-top:10px;
}
.well.login-box legend {
  font-size:30px;
  text-align:center;
  font-weight:500;
  color: #004D40;
}
.well.login-box label {
  color:#004D40;
  margin-left: 28px;
  font-weight:300;
  font-size:13px;
}
.well.login-box input {
  margin-left: 28px;
  width: 450px;
}
.well.login-box input[type="text"] {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.well.welcome-text{
  font-size:21px;
}

/* Notifications */

.notification{
  position:fixed;
  top: 20px;
  right:0;
  background-color:#FF4136;
  padding: 20px;
  color: #fff;
  font-size:21px;
  display:none;
}
.notification-success{
  background-color:#3D9970;
}

.notification-show{
  display:block!important;
}

#logo a{
  font-family: "Gill Sans";
  letter-spacing: -2.5px;
  font-weight: 650;
  text-transform: uppercase;
  font-size: 40px;
  color: #263238;
  margin-left: 60px;
}

#navbar-tekst {
  font-size: 17px;
  font-weight: 300;
  font-family: Georgia, Serif;
}

#navbar-potvrdi {
  font-size: 14px;
  font-weight: 250;
  font-family: Georgia, Serif;
}

#navbar-prijava {
  font-size: 19px;
  font-weight: 350;
  font-family: Georgia, Serif;
  margin-right: 70px;
}

#username {
  font-family: "Arial Black";
  letter-spacing: -1px;

}

#well-main-title a{
  text-decoration: none;
  font-size: 100px;
  color: #730E15;
  font-family: "Arial Black";
}

body {
  background-color: burlywood;
  background-repeat: no-repeat;
  background: url("pozadina07.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title-signedout-well{
  background: asset-url('raw.gif');
  height: 370px;
  background-size: 100% 100% ;
}
#welcome {
  margin-top: 170px;
}
#title-signedin-well {
  background: asset-url('raw2.gif');
  background-repeat: no-repeat;
  height: 350px;
  background-size: 100% 100% ;
}

.review_title {
  margin: 0 0 20px 0;
}

.reviews {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
  .star-rating {
    padding-bottom: 0px;
  }
}

#new-recipe-title {
  padding-bottom: 20px;
  font-family: "Open Sans";
  color: #777;
}

.btn-panel {
  margin-bottom: 15px;
}

.recipe-create-panel {
  background-color: black;
}
.create-recipe {
  margin-top: 15px;
}

.panel {
  background-color: #9ccc65;
  border-color:  #9ccc65;
  color: #777;
  font-family: "Open Sans";
}

.login-actions {
  margin-bottom: 15px;
}

.back {
  float: right;
}
.close-login {
  margin: 5px;
  color: #B00100;
}

.register-actions {
  margin-left: -35px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.user-info {
  color: white;
}

#recipe_title {
  color: #777;
}

.pre-recipe {
  border: 0;
  color: whitesmoke;
  background-color: #730E15;
}

.ingredient-link:link{
  text-decoration: none;
  color: #730E15;
}

.ingredient-link:visited{
  color: #730E15;
}




.well {
  border: 0;
}

#list-group{
  padding: 0;
}

#list-group-tag {
  padding: 0;
}

#ingredients-list-title h3{
  font-family: "Arial Black";
  color: #33691E;
  font-size: xx-large;
  letter-spacing: -2px;
  text-transform: uppercase;
}

#ingredients-list-title {
  background-color: #E0E0E0;
}

.delete-ingredient{
  float: right;
  padding: 0;
}

#hidden-area {
  opacity: 0;
}

.form-ingred{
  float: left;
  margin-right: 7px;
}

.ingredient-info {

}

.ingredient-info h1{
  font-family: "Arial Black";
  color: #428bca;
}

.custom-select {
  height: 33px;
}

// tabovi sa kojima mjenjamo prikaz slika na pocetnoj stranici
.slider-tabs-active {
  background-color: #558B2F ;
  height: 40px;
  width: 100%/3;
  color: white;
  text-align: center;
  padding: 18px 0;
  font-size: 17px;
  font-weight: 400;
}

.slider-tabs {
  background-color: white;
  height: 40px;
  width: 100%/3;
  color: #558B2F ;
  text-align: center;
  padding: 18px 0;
  font-size: 17px;
  font-weight: 200;
}


.pocetna-carousel {
  margin-top: -20px;
  width: 100%;
  margin-left: -13px;
}

.pocetna-okvir-za-tekst {
  height: 170px;
  width: 350px;
  background-color: #33691E ;
  opacity: 0.7;
  filter: alpha(opacity=70);
  border-radius: 80px;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
  border-radius: 15px;
}

.pocetna-naslov {
  font-size: 45px;
  color: white;
  font-weight: 300;
  font-family: Georgia, Serif;
}

.pocetna-links {
  font-size: 18px;
  color: #76FF03 ;
  font-weight: 350;
  font-family: Georgia, Serif;
}

.pocetna-tekst {
  align: center;
  font-size: 13px;
  color: #76FF03 ;
  font-weight: 300;
  font-family: Georgia, Serif;
}

#myCarousel {
  width: 102%;
  height: 600px;
}

#myCarousel .nav {
  background:#eee;
  color: #2b542c ;
}

#myCarousel .nav a {
  border-radius:0px;
}

.pregledaj-tekst {
  font-size: 12px;
  color: #33691E ;
}

.pregledaj-button {
  height: 27px;
  width: 72px;
  border: solid;
  border-color: #33691E ;
  border-width: 0.5px;
  background-color: #F1F8E9 ;
  margin-right: 15px;
}

.polje-recept {
  color: #C5E1A5;
  border-width:2.5px;
  border-color: #F5F5F5;
  background-color: #C5E1A5;
  height: 310px;
}
.polje-naslov {
  color: #212121;
  font-family: Monaco;
  margin-top: 3px;
}
